@*@model EntityLayer.Entity.Product*@
@model WebUILayer.Models.ProductListModel
@{
    ViewBag.Title = "SingleProduct";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{ var product = Model.SinleProduct.FirstOrDefault();}
<div class="main-container container">


    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-12 col-sm-12">

            <div class="product-view row">
                <div class="left-content-product col-lg-10 col-xs-12">
                    <div class="row">
                        <div class="content-product-left  col-sm-7 col-xs-12 ">
                            <div id="thumb-slider-vertical" class="thumb-vertical-outer">
                                <span class="btn-more prev-thumb nt"><i class="fa fa-angle-up"></i></span>
                                <span class="btn-more next-thumb nt"><i class="fa fa-angle-down"></i></span>
                                <ul class="thumb-vertical">

                                    @foreach (var item in ViewBag.images)
                                    {


                                        <li class="owl2-item">
                                            <a data-index="@item.Id" class="img thumbnail " data-image="@item.ImageUrl" title="Bint Beef">
                                                <img src="@item.ImageUrl" title="Bint Beef" alt="ÜrünGörsel">
                                            </a>
                                        </li>
                                    }

                                </ul>


                            </div>
                            <div class="large-image  vertical">
                                <img itemprop="image" class="product-image-zoom" src="@ViewBag.singleimage" data-zoom-image="@ViewBag.singleimage" title="Ürün Görsel" alt="Bint Beef">
                            </div>


                        </div>

                        <div class="content-product-right col-sm-5 col-xs-12">



                            <div class="title-product">
                                <h1>@product.Title</h1>
                            </div>

                            <!-- Review ---->
                            <div class="box-review form-group">
                                <div class="ratings">
                                    <div class="rating-box">

                                        @if (ViewBag.ratingAvarage >= 1 && ViewBag.ratingAvarage < 2)
                                        {
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        }
                                        @if (ViewBag.ratingAvarage >= 2 && ViewBag.ratingAvarage < 3)
                                        {
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        }
                                        @if (ViewBag.ratingAvarage >= 3 && ViewBag.ratingAvarage < 4)
                                        {
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        }
                                        @if (ViewBag.ratingAvarage >= 4 && ViewBag.ratingAvarage < 5)
                                        {
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        }
                                        @if (ViewBag.ratingAvarage == 5)
                                        {
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>

                                        }




                                    </div>
                                </div>

                                <a class="reviews_button" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">@ViewBag.commentCount Değerlendirme</a>	|
                                <a class="write_review_button" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Ürünü Değerlendir</a>
                            </div>

                            <div class="product-label form-group">
                                <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                    <span class="price-new" itemprop="price">₺@product.Price</span>

                                </div>
                                <div class="stock"><span>Durum:</span> <span class="status-stock">Stokta</span></div>
                            </div>

                            <div class="product-box-desc">
                                <div class="inner-box-desc">


                                    <div class="brand"><span>Marka:</span><a href="#">@product.ProductBrand.Title</a>		</div>
                                    <div class="model"><span>Product Code:</span> @product.ProductCode</div>
                                    <hr />
                                    <p>@product.Description</p>
                                </div>
                            </div>


                            <div id="product">

                                <div class="form-group box-info-product">
                                    <form method="post">
                                        <div class="option quantity">
                                            <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                <label>Qty</label>
                                                <input class="form-control" type="text" name="Quantity"
                                                       value="1">
                                                <input type="hidden" name="product_id" value="50">
                                                <span class="input-group-addon product_quantity_down">−</span>
                                                <span class="input-group-addon product_quantity_up">+</span>
                                            </div>


                                        </div>
                                    </form>


                                    @if (ViewBag.loginuser != null)
                                    {


                                        <div class="cart">
                                          
                                            <a href="/UserCart/AddCart/@product.Id" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg " data-original-title="Sepete Ekle">Sepete Ekle</a>
                                        </div>
                                        <div class="add-to-links wish_comp">
                                            <ul class="blank list-inline">
                                                <li class="wishlist">
                                                    <a href="/UserWhistlist/AddWhistlist/@product.Id" class="icon" data-toggle="tooltip" title=""
                                                       data-original-title="Favorilere Ekle">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="/UserCompare/AddCompare/@product.Id" class="icon" data-toggle="tooltip" title=""
                                                      data-original-title="Karşılaştır">
                                                        <i class="fa fa-exchange"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {

                                <div class="cart">
                                    <a href="/UserLogin/Login/" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg " data-original-title="Sepete Ürün Eklemek İçin Giriş Yapmalısınız">Sepete Ekle</a>



                                </div>
                                        <div class="add-to-links wish_comp">
                                            <ul class="blank list-inline">
                                                <li class="wishlist">
                                                    <a href="/UserLogin/Login/" class="icon" data-toggle="tooltip" title=""  data-original-title="Favorilere Ürün Eklemek İçin Giriş Yapmalısınız">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="/UserLogin/Login/" class="icon" data-toggle="tooltip" title=""  data-original-title="Ürün Karşılaştırabilmek İçin Giriş Yapmalısınız">
                                                        <i class="fa fa-exchange"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>

                            </div>
                            <!-- end box info product -->

                        </div>
                    </div>
                </div>

                <section class="col-lg-2 hidden-sm hidden-md hidden-xs slider-products">
                    <div class="module col-sm-12 four-block">
                        <div class="modcontent clearfix">
                            <div class="policy-detail">
                                <div class="banner-policy">
                                    <div class="policy policy1">
                                        <a href="#">
                                            <span class="ico-policy">&nbsp;</span>	30 günde
                                            <br> para iade
                                        </a>
                                    </div>
                                    <div class="policy policy2">
                                        <a href="#"> <span class="ico-policy">&nbsp;</span>	Mağaza içi değişim </a>
                                    </div>
                                    <div class="policy policy3">
                                        <a href="#"> <span class="ico-policy">&nbsp;</span>	Düşük fiyat garantisi </a>
                                    </div>
                                    <div class="policy policy4">
                                        <a href="#"> <span class="ico-policy">&nbsp;</span>	Güvenli Alışveriş </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Product Tabs -->
            <div class="producttab ">
                <div class="tabsslider  col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Açıklama</a></li>
                        <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Yorumlar (@ViewBag.commentCount)</a></li>
                        <li class="item_nonactive"><a data-toggle="tab" href="#tab-4">Etiketler</a></li>

                    </ul>
                    <div class="tab-content col-xs-12">
                        <div id="tab-1" class="tab-pane fade active in">
                            <p>
                                @product.Description
                            </p>


                        </div>
                        <div id="tab-review" class="tab-pane fade">

                            <div id="review">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        @foreach (var item in ViewBag.comment)
                                        {
                                            <tr>



                                                <td style="width: 50%;"><strong>@item.Name @item.Surname</strong></td>
                                                <td class="text-right">@item.CreatedTime.ToString("f")</td>

                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p>@item.Description</p>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            @if (item.Rating == 1)
                                                            {
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            }
                                                            @if (item.Rating == 2)
                                                            {
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            }
                                                            @if (item.Rating == 3)
                                                            {
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            }
                                                            @if (item.Rating == 4)
                                                            {
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            }
                                                            @if (item.Rating == 5)
                                                            {
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>

                                                            }

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="text-right"></div>
                            </div>
                            <h2 id="review-title">Ürünü Değerlendir</h2>
                            @if (ViewBag.loginuser != null)
                            {

                                <form method="post">


                                    <div class="contacts-form">

                                        <div class="form-group">
                                            <span class="icon icon-bubbles-2"></span>
                                            <textarea class="form-control" name="Description"></textarea>
                                        </div>


                                        <div class="form-group">
                                            <b>Değerlendirme</b> <span> </span>&nbsp;
                                            <input type="radio" name="Rating" value="1"> &nbsp;
                                            <input type="radio" name="Rating"
                                                   value="2"> &nbsp;
                                            <input type="radio" name="Rating"
                                                   value="3"> &nbsp;
                                            <input type="radio" name="Rating"
                                                   value="4"> &nbsp;
                                            <input type="radio" name="Rating"
                                                   value="5"> &nbsp;<span></span>

                                        </div>
                                        <button class="btn buttonGray">Ürünü Değerlendir</button>
                                        @*<div class="buttons clearfix"><a id="button-review" class="btn buttonGray">Continue</a></div>*@
                                    </div>
                                </form>
                            }
                            else
                            {
                                <span style="font-size: 11px;"><span class="text-danger">Note:</span>						Yorum yapabilmek için lütfen giriş yapınız!</span>
                            }

                        </div>
                        <div id="tab-4" class="tab-pane fade">
                            <a href="#">@product.ProductBrand.Title</a>,
                            <a href="#">@product.ProductCategory.Title</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- //Product Tabs -->
            <!-- Related Products -->
            <div class="related titleLine products-list grid module ">

                <h3 class="modtitle">İlginizi Çekebilecek Ürünler  </h3>

                <div class="releate-products ">
                    @foreach (var item in Model.Products)
                    {
                        var image = item.Images.FirstOrDefault();
                        <div class="product-layout">
                            <div class="product-item-container">



                                <div class="left-block">
                                    <div class="product-image-container second_img ">
                                        <img src="@image.ImageUrl" title="Apple Cinema 30&quot;" class="img-responsive" />
                                        <img src="@image.ImageUrl" title="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                    </div>
                                    <!--Sale Label-->
                                    <span class="label label-sale">Benzer Ürünler</span>
                                    <!--full quick view block-->
                                    <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe" href="quickview.html">  Hızlı İncele</a>
                                    <!--end full quick view block-->
                                </div>


                                <div class="right-block">
                                    <div class="caption">
                                        <h4><a href="/UserProduct/SingleProduct/@item.Product.Id">@item.Product.Title&quot;</a></h4>
                                        

                                        <div class="price">
                                            <span class="price-new">₺@item.Product.Price</span>

                                        </div>
                                        <div class="description item-desc hidden">
                                            <p>@item.Product.Description</p>
                                        </div>
                                    </div>

                                    <div class="button-group">
                                        @if (ViewBag.loginuser != null)
                                        {
                                            <a href="/UserCart/AddCart/@item.Product.Id" class="addToCart" type="button" data-toggle="tooltip" title="Sepete Ekle"><i class="fa fa-shopping-cart"></i> </a>
                                            <a href="/UserWhistlist/AddWhistlist/@item.Product.Id" class="addToCart" type="button" data-toggle="tooltip" title="Favorilere Ekle"><i class="fa fa-heart"></i></a>
                                            <a href="/UserCompare/AddCompare/@item.Product.Id" class="addToCart" type="button" data-toggle="tooltip" title="Karşılaştır"><i class="fa fa-exchange"></i></a>
                                        }
                                        else
                                        {
                                            <a href="/UserLogin/Login/" class="addToCart" type="button" data-toggle="tooltip" title=" Sepete Ürün Eklemek İçin Giriş Yapmalısınız"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="/UserLogin/Login/" class="addToCart" type="button" data-toggle="tooltip" title="Favorilere Ürün Eklemek İçin Giriş Yapmalısınız"><i class="fa fa-heart"></i></a>
                                            <a href="/UserLogin/Login/" class="addToCart" type="button" data-toggle="tooltip" title="Ürün Karşılaştırabilmek İçin Giriş Yapmalısınız"><i class="fa fa-exchange"></i></a>
                                        }


                                    </div>
                                </div><!-- right block -->

                            </div>
                        </div>
                    }
                </div>
            </div>

            @*<script type="text/javascript">
                $(document).ready(function () {
                    var zoomCollection = '.large-image img';
                    $(zoomCollection).elevateZoom({
                        zoomType: "inner",
                        lensSize: "200",
                        easing: true,
                        gallery: 'thumb-slider-vertical',
                        cursor: 'pointer',
                        galleryActiveClass: "active"
                    });
                    $('.large-image').magnificPopup({
                        items: [
                            { src: 'image/demo/shop/product/J9.jpg' },
                            { src: 'image/demo/shop/product/J6.jpg' },
                            { src: 'image/demo/shop/product/J5.jpg' },
                            { src: 'image/demo/shop/product/J4.jpg' },
                        ],
                        gallery: { enabled: true, preload: [0, 2] },
                        type: 'image',
                        mainClass: 'mfp-fade',
                        callbacks: {
                            open: function () {

                                var activeIndex = parseInt($('#thumb-slider-vertical .img.active').attr('data-index'));
                                var magnificPopup = $.magnificPopup.instance;
                                magnificPopup.goTo(activeIndex);
                            }
                        }
                    });
                    $("#thumb-slider-vertical .owl2-item").each(function () {
                        $(this).find("[data-index='0']").addClass('active');
                    });

                    $('.thumb-video').magnificPopup({
                        type: 'iframe',
                        iframe: {
                            patterns: {
                                youtube: {
                                    index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).
                                    id: 'v=', // String that splits URL in a two parts, second part should be %id%
                                    src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe.
                                },
                            }
                        }
                    });

                    $('.product-options li.radio').click(function () {
                        $(this).addClass(function () {
                            if ($(this).hasClass("active")) return "";
                            return "active";
                        });

                        $(this).siblings("li").removeClass("active");
                        $(this).parent().find('.selected-option').html('<span class="label label-success">' + $(this).find('img').data('original-title') + '</span>');
                    });

                    var _isMobile = {
                        iOS: function () {
                            return navigator.userAgent.match(/iPhone/i);
                        },
                        any: function () {
                            return (_isMobile.iOS());
                        }
                    };

                    $(".thumb-vertical-outer .next-thumb").click(function () {
                        $(".thumb-vertical-outer .lSNext").trigger("click");
                    });

                    $(".thumb-vertical-outer .prev-thumb").click(function () {
                        $(".thumb-vertical-outer .lSPrev").trigger("click");
                    });

                    $(".thumb-vertical-outer .thumb-vertical").lightSlider({
                        item: 3,
                        autoWidth: false,
                        vertical: true,
                        slideMargin: 15,
                        verticalHeight: 340,
                        pager: false,
                        controls: true,
                        prevHtml: '<i class="fa fa-angle-up"></i>',
                        nextHtml: '<i class="fa fa-angle-down"></i>',
                        responsive: [
                            {
                                breakpoint: 1199,
                                settings: {
                                    verticalHeight: 330,
                                    item: 3,
                                }
                            },
                            {
                                breakpoint: 1024,
                                settings: {
                                    verticalHeight: 235,
                                    item: 2,
                                    slideMargin: 5,
                                }
                            },
                            {
                                breakpoint: 768,
                                settings: {
                                    verticalHeight: 340,
                                    item: 3,
                                }
                            }
                            ,
                            {
                                breakpoint: 480,
                                settings: {
                                    verticalHeight: 100,
                                    item: 1,
                                }
                            }

                        ]

                    });



                    // Product detial reviews button
                    $(".reviews_button,.write_review_button").click(function () {
                        var tabTop = $(".producttab").offset().top;
                        $("html, body").animate({ scrollTop: tabTop }, 1000);
                    });
                });

            </script>*@


        </div>


    </div>
    <!--Middle Part End-->
</div>