
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row">

    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.product</h3>
                        <h5>Ürün Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.category</h3>
                        <h5>Kategori Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fab fa-sellsy"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.brand</h3>
                        <h5>Marka Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.comment</h3>
                        <h5>Yorum Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.enduser</h3>
                        <h5>Müşteri Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.message</h3>
                        <h5>Mesaj Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fab fa-sellsy"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.stock</h3>
                        <h5>Toplam Stok Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.sale</h3>
                        <h5>Satış Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.announcement</h3>
                        <h5>Duyuru Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.whistlist</h3>
                        <h5>Favorideki Ürün Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fab fa-sellsy"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.cart</h3>
                        <h5>Sepetteki Ürün Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.compare</h3>
                        <h5>Karşılaştırmadaki Ürün Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.highprice</h3>
                        <h5>En Yüksek Fiyatlı Ürün</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.lowprice</h3>
                        <h5>En Düşük Fiyatlı Ürün</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-info-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-info rounded">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-info">@ViewBag.image</h3>
                        <h5>Toplam Ürün-Görsel Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card card-block card-stretch card-height bg-warning-light">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="icon iq-icon-box bg-warning rounded">
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0 text-warning">@ViewBag.faq</h3>
                        <h5>Sıkça Sorulanlar Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>







</div>
