
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">@ViewBag.message</h4>
        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table id="datatable" class="table data-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Marka</th>
                        <th>Görsel</th>
                        <th>Eklenme Tarihi</th>
                        <th>Güncellenme Tarihi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>


                            <td>@item.Title</td>
                            <td><img src="@item.ImageUrl" alt="No Image" class="img-fluid rounded avatar-40 text-center"></td>
                            <td>@item.CreatedTime.ToString("f")</td>
                            <td>@item.UpdatedTime.ToString("f")</td>



                            <td>
                                <div class="dropdown">
                                    <span class="dropdown-toggle1" id="dropdownMenuButton8" data-toggle="dropdown">
                                        <i class="ri-more-2-fill"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton8" style="">
                                        <a class="dropdown-item" href="/ProductBrand/View/@item.Id"><i class="ri-eye-fill mr-2"></i>Ürünleri Gör</a>
                                        <a class="dropdown-item" href="/ProductBrand/Delete/@item.Id" onclick="return confirm('Silmek istediğinize emin misiniz?')"><i class="ri-delete-bin-6-fill mr-2"></i>Sil</a>
                                        <a class="dropdown-item" href="/ProductBrand/Update/@item.Id"><i class="ri-pencil-fill mr-2"></i>Güncelle</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                             
                            </td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>





<a href="/ProductBrand/Add/" class="btn btn-outline-dark rounded-pill mt-2"><i class="ri-add-line"></i>Marka Ekle</a>